<div class="page-header">
    <h1>About us</h1>
    <p>We are working on our One Month Rails Pinteresting app!</p>
</div>
<div class="row">
	<div class="col-xs-6 col-md-3">
		<a href="#" class="img-responsive">
			<img src="https://en.wikipedia.org/wiki/Jumping_spider#/media/File:Phidippus_audax_male.jpg" alt="...">
		</a>
	</div>
 
    <div class="col-xs-6 col-md-3">
        <a href="#" class="img-responsive">
            <img src="..." alt="...">
        </a>
    </div> 
</div>